.photo {
    height: 30px;
    width: 30px;
  }

  .des{

    font-size: 12px;
  }

  
  .p{

    background-image: blue;

  }

  /* @media only screen and (max-width: 600px) { 
    #p { 
      display: none; 
    } 
    

  } */